
profiles {
	test-local {
		params.picard_version = "2.23.8"
		params.picard_jar = "picard.jar"
	}
	test-ec2 {
		params {
			s3_bucket = "s3://sandbox-sra-upload/drop-seq-tools-pipeline"
			// required
			output_directory = "${s3_bucket}/test/output"
			fastq_directory = "${s3_bucket}/test/data/reads"
			reference_fasta = "${s3_bucket}/test/data/hg19.chr22.fasta"
			reference_gtf = "${s3_bucket}/test/data/hg19.chr22.gtf"
			star_index = "${s3_bucket}/test/data/hg19.chr22.star_idx"
		}

	}
	docker {
		params.picard_jar = "/working/software/picard.jar"
		process.container = "liameabbott/drop-seq-tools-pipeline:latest"
		docker.enabled = true
	}
}

params {

	// required
	// output_directory = 
	// fastq_directory =
	// reference_fasta = 
	// reference_gtf = 
	// star_index =
	
	// optional
	mt_sequence = "null"
	cell_barcode_base_range = "1-12"
	umi_barcode_base_range = "13-20"
	barcoded_read = "1"
	barcode_min_base_quality = "10"
	barcode_n_bases_below_min_quality = "1"
	trim_starting_n_bases = "5"
	trim_starting_n_mismatches = "0"
	trim_starting_sequence = "AAGCAGTGGTATCAACGCAGAGTGAATGGG"
	trim_polyA_adapter = "~XM~XCGTACTCTGCGTTGATACCACTGCTT"
	star_n_cores = "1"
	star_limit_out_sj_collapsed = "5000000"
	repair_min_umis_per_cell = "20"
}
